<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      International Relocation Payment
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      The IRP application window is currently closed.
    </p>
    <p class="govuk-body">
      The next application window opens: (insert the next window opening)
    </p>

    <h2 class="govuk-heading-m">When to apply for the IRP</h2>

    <p class="govuk-body">
      During the application window, eligible languages and physics teachers and salaried trainees can apply for the
      IRP.
    </p>
    <p class="govuk-body">
      You need to apply at different times depending on when you start your job or course:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First application window: Between September 2023 and October 2023</li>
      <li>Second application window: Between January 2024 and February 2024</li>
      <li>Third application window: Between May 2024 and Jane 2024.</li>
    </ul>
    <p class="govuk-body">
      If you miss an application window, you can apply in the next window.
    </p>

    <h2 class="govuk-heading-m">Contact</h2>

    <p class="govuk-body">
      If you have any questions about the International Relocation Payment, email
    </p>

    <p class="govuk-body">
      <%= govuk_link_to("IRP.Mailbox@Education.gov.uk", "mailto:IRP.Mailbox@Education.gov.uk")%>.
    </p>

    <p class="govuk-body">
      Do not send CVs to this email, as they will not be viewed.
    </p>
  </div>
</div>
