<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      International Relocation Payment
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      The IRP application window is currently closed.
    </p>

    <h2 class="govuk-heading-m">When to apply for the IRP</h2>

    <p class="govuk-body">
      During the application window, eligible languages and physics teachers and salaried trainees can apply for the
      IRP.
    </p>
    <p class="govuk-body">
      You need to apply at different times depending on when you start your job or course:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First application window: Between September 2023 and October 2023</li>
      <li>Second application window: Between January 2024 and February 2024</li>
      <li>Third application window: Between May 2024 and June 2024.</li>
    </ul>
    <p class="govuk-body">
      If you miss an application window, you can apply in the next window.
    </p>

    <h2 class="govuk-heading-m">Contact</h2>

    <p class="govuk-body">
      <%= govuk_link_to("Check full eligibility details for teachers.", "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment", { target: "_blank" })%>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to("Check full eligibility details for trainees.", "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment", { target: "_blank" })%>
    </p>

    <p class="govuk-body">
      For help, you can email us at <%= govuk_link_to("teach.inengland@education.gov.uk", "mailto:teach.inengland@education.gov.uk")%>.
    </p>
  </div>
</div>
