<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you
          </h1>
        </div>

        <p class="govuk-body">
          You have successfully submitted your international relocation payment application form. We will now validate the information you have given us. We will email you if we have any questions.
        </p>

        <p class="govuk-body">
          Your international relocation payment (IRP) application reference number is:
        </p>

        <p class="govuk-body">
          <strong><%= @application.urn %></strong>
        </p>

        <p class="govuk-body">
          Keep this safe, as you will need it if your application is successful.
        </p>

        <p class="govuk-body">
          We’ll let you know the outcome of your application as soon as we’ve checked your eligibility. We will also contact your school to validate your employment status. We aim to complete our checks within 30 days.
        </p>

        <p class="govuk-body">
          If you are eligible, you will receive an email from <%= govuk_link_to("IRP.Mailbox@education.gov.uk", "mailto:IRP.Mailbox@education.gov.uk") %> asking for your bank details and your IRP application reference number. You should be paid by 30 September 2024.
        </p>

        <p class="govuk-body">
          For help, you can contact us on
          <%= govuk_link_to("IRP.Mailbox@education.gov.uk", "mailto:IRP.Mailbox@education.gov.uk") %>.
        </p>
      </div>
    </div>
  </main>
</div>
