<div class="home-office">
  <h2 class="govuk-heading-m">Home office report</h2>
  <p class="govuk-body">
    Download a CSV file of applicants who have passed initial checks and can now be sent to the Home Office for verification.
  </p>

  <p>
    <%= link_to "Download", report_path(:home_office), class: "govuk-button" %>
  </p>
</div>

<div class="standing-data">
  <h2 class="govuk-heading-m">Standing Data report</h2>
  <p class="govuk-body">
    Download a CSV file of applicants who are eligible for payment and can now be sent to standing data so their bank details can be verified.
  </p>
  <p>
    <%= link_to "Download", report_path(:standing_data), class: "govuk-button" %>
  </p>
</div>

<div class="payroll">
  <h2 class="govuk-heading-m">Payroll Data report</h2>
  <p class="govuk-body">
    Download a CSV file of applicants whose bank details have been verified and can now be prepared for payroll and sent to the IRP service manager for sign off.
  </p>
  <p>
    <%= link_to "Download", report_path(:payroll), class: "govuk-button" %>
  </p>
</div>
